@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --bg: #152637;
  --text: #ffffff;
  --accent: #ff3131;
  --card: #1e293b;
}

.dark {
  --bg: #152637;
  --text: #ffffff;
  --accent: #ff3131;
  --card: #1e293b;
}

.light-mode {
  --bg: #ffffff;
  --text: #0f172a;
  --accent: #ff3131;
  --card: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: "Montserrat", sans-serif;
  --font-spaceGrotesk: "Space Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}